#chatContainer,.message{
    padding-top:10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
    border-radius: 6px;
    margin-top:20px;
    font-size: 15px;
}

#chatContainer{
    background-color: #0A4185;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#messagesContainer{
    width: 80%;
    overflow: scroll;
    scrollbar-width: none;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

#messagesContainer::-webkit-scrollbar {
    display: none;
}

#emptyMessage{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    margin-top:200px;
    font-size:30px;
    color:white;
}

#inputChat{
    height: 60px;
    width: 80%;
    white-space: pre-wrap;
}

.message{
    width: 40%;
    background-color: #ECE8EF;
    margin-top:10px;
    text-align: left;
    white-space: pre-line;
}

.myMessage{
    margin-left: auto;
}

.reply{
    background-color: #4392F1;
}
#inputChatContainer{
    display: flex;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
}

#inputChatContainer button{
    background-color: #FFFFFF;      
    display:block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
    font-family: Avenir,Arial, Helvetica, sans-serif;
    font-size:15px;
    outline: 0;
    width:10%
}
#inputChatContainer button:hover, #inputChatContainer button:focus{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    outline: 0;
  }

  .dateChat,#userAddress{
      width: 100%;
      color:white;
      text-align: center;
      margin-top:20px;
      margin-bottom:20px;
      font-weight: bold;
      font-size: 18px;
  }

  #userAddress{
    font-size: 22px;
    margin-bottom: 10px;
  }